
header {
    width: 80%;
    display: flex;
    margin-left: 10%;
}

img {
    width: 20em;
    height: auto;
}

hr {
    width: 80%;
}

.accordion {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.ac-container label {
    cursor: pointer;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    height: 100%;
    color: rgb(37, 37, 180);
}

.ac-container input{
    display: none;
}

.ac-container article {
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
     -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    height: 100%;
}
